<div class="jumbotron">
  <h1>Welcome to My Pinterested App!</h1>
  <p>Pretty cool, don't you think</p>
  <!-- Standard button -->
  <%= link_to  "Login", root_path, class:'btn btn-default' %>
  <%= link_to  "Join us", root_path, class:'btn btn-primary' %>
</div>